.Canvas {
  position: relative;

  width: var(--NC-canvas-size);
  height: var(--NC-canvas-size);

  box-shadow: var(--NC-canvas-box-shadow);
  border-radius: var(--NC-canvas-border-radius);

  background-size: var(--NC-canvas-background-size);
  background-color: var(--NC-canvas-background-color);
  background-image: var(--NC-canvas-background-image);
  background-position: var(--NC-canvas-background-position);

  user-select: none;
  transform-origin: 0 0;
  transition: transform 200ms ease-out;
}

.Canvas:hover {
  transition: none;
}

.CanvasEdges {
  width: 100%;
  height: 100%;
}

.SelectBox {
  position: absolute;
  background-color: rgba(100, 148, 237, 0.25);
  border-radius: 5px;
  box-shadow: 0 0 0 1px cornflowerblue;
  pointer-events: none;
  opacity: 0;
}
