html,
body {
  margin: 0;
}

#app {
  --margin: 1vmax;

  position: relative;
  width: calc(100vw - calc(var(--margin) * 2));
  height: calc(100vh - calc(var(--margin) * 2));
  margin: var(--margin);
  box-shadow: 0 0 0 1px lightgray;
  border-radius: 5px;
  overflow: hidden;
}
