html,
body {
  margin: 0;
}

#app {
  position: relative;
  width: calc(100vw - 2vmax);
  height: calc(100vh - 2vmax);
  margin: 1vmax;
  box-shadow: 0 0 0 1px lightgray;
  border-radius: 5px;
  overflow: hidden;
}
