.Node {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px lightgrey;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Node.isSelected {
  box-shadow: 0 0 0 1px black;
}

.NodeInputPorts {
  margin-left: -5px;
}

.NodeOutputPorts {
  margin-right: -5px;
}
