.Edge {
  stroke: var(--NC-edge-stroke);
  stroke-width: var(--NC-edge-stroke-width);
  fill: transparent;
}

.EdgeArea {
  stroke: transparent;
  stroke-width: 20px;
  fill: transparent;
  cursor: pointer;
}

.isHovered .Edge {
  stroke: var(--NC-edge-hover-stroke);
}

.isDraft .Edge {
  stroke: var(--NC-edge-draft-stroke);
}

.isDraft .EdgeArea {
  cursor: default;
}
