.Node {
  position: absolute;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px lightgrey, 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Node.isSelected {
  box-shadow: 0 0 0 1px black, 0 5px 15px rgba(0, 0, 0, 0.2);
}

.NodeInputPorts {
  flex: 0 1 auto;
  padding: 5px 0;
  margin-left: -10px;
}

.NodeBody {
  flex: 1;
}

.NodeOutputPorts {
  flex: 0 1 auto;
  padding: 5px 0;
  margin-right: -10px;
}
