.Canvas {
  position: relative;
  width: var(--canvas-size);
  height: var(--canvas-size);
  border-radius: 5px;
  background-image: radial-gradient(lightgrey, white 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-position: calc(var(--canvas-size) / 2) calc(var(--canvas-size) / 2);

  box-shadow: 0 0 0 1px lightgray;

  user-select: none;
  transform-origin: 0 0;
}

.CanvasEdges {
  width: 100%;
  height: 100%;
}

.SelectBox {
  position: absolute;
  background-color: rgba(100, 148, 237, 0.25);
  border-radius: 5px;
  box-shadow: 0 0 0 1px cornflowerblue;
  pointer-events: none;
  opacity: 0;
}
