.Node {
  --bg-color: rgba(4, 13, 33, 0.8);
  --color-primary: #00ffc8;
  --bg-grid: radial-gradient(
    rgba(162, 250, 207, 0.05),
    transparent 4px,
    transparent
  );
  --bg-glass-effect: linear-gradient(
    135deg,
    rgba(162, 250, 207, 0.05) 0,
    rgba(162, 250, 207, 0.1) 40%,
    rgba(162, 250, 207, 0.1) 60%,
    rgba(162, 250, 207, 0.05) 61%,
    rgba(162, 250, 207, 0.05) 62%,
    rgba(162, 250, 207, 0.15) 100%
  );

  position: absolute;

  display: flex;
  flex-direction: column;

  border-radius: 5px;

  color: rgba(162, 250, 207, 0.8);

  background-image: var(--bg-glass-effect);
  background-color: var(--bg-color);
  background-image: var(--bg-glass-effect);

  backdrop-filter: blur(2px);

  box-shadow: 0 0 0 2px #00ffc844;
}

@supports (
  (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))
) {
  .Node {
    background-color: transparent;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

.NodeBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Node header {
  color: var(--color-primary);
  padding: 5px 10px;
  border-bottom: 1px solid rgba(162, 250, 207, 0.3);
}

.Node.isSelected {
  box-shadow: 0 0 0 2px var(--color-primary), 0 5px 15px rgba(0, 0, 0, 0.7);
}

.Node.isSelected header {
  background-color: var(--color-primary);
  color: var(--bg-color);
}

.NodeInputPorts {
  flex: 0 1 auto;
  padding: 5px 0;
  margin-left: -10px;
}

.NodeContent {
  min-width: 50px;
}

.NodeOutputPorts {
  flex: 0 1 auto;
  padding: 5px 0;
  margin-right: -10px;
}
