:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Palette {
  position: fixed;
  margin: 20px;
  top: 0;
  left: 0;
}

.Controls {
  position: fixed;
  margin: 20px;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Controls > button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: #00ffc8;
  color: black;
  padding: 10px 10px;
  border-radius: 5px;
  margin-left: 10px;
  border: none;

  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.NodeDetails {
  position: fixed;
  margin: 20px;
  bottom: 0;
  right: 0;

  max-width: calc(100vw - 400px);
  box-shadow: 0 0 0 2px #00ffc844;
  color: #00ffc8;
  border-radius: 5px;

  overflow-x: auto;
  overflow-y: hidden;
}

.HelpButton {
  width: 37px;
  text-align: center;
}
